includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./extension.neon

parameters:
    paths:
        - src

    level: 8

    universalObjectCratesClasses:
        - Illuminate\Routing\Route

    ignoreErrors:
        - '#Access to an undefined static property static\(ArchTech\\Enums\\Meta\\MetaProperty\)\:\:\$method#'
        - '#has invalid type ArchTech\\Enums\\Metadata#'
        - '#has invalid type Enum#'
        - '#on an unknown class Enum#'
        # -
        #     message: '#Offset (.*?) does not exist on array\|null#'
        #     paths:
        #         - tests/*
        # -
        #    message: '#expects resource, resource\|false given#'
        #    paths:
        #        - tests/*
        # - '#should return \$this#'

    checkMissingIterableValueType: false
